@import "variables";
@import "typography";

html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
}

html,
body,
#root {
  color: $base-font-color;
  background-color: $brand-white;
  height: 100%;
  width: 100%;
}

#root {
  background-color: transparent;
}

body *:not(svg) {
  font: 100% $base-font-family;
  font-size: $base-font-size;
  font-weight: $font-normal;
  line-height: $base-line-height;
}
