// Brand Colors
$brand-black:         #191716;
$brand-light-black:   #272727;
$brand-logo-red:      #9d284a;
$brand-dark-red:      #D12959;
$brand-red:           #FF5A5F;
$brand-orange:        #FF8649;
$brand-white:         #FAFAFA;