@import "theme";

// Colors
$primary:             $brand-dark-red;
$secondary:           $brand-red;
$terciary:            $brand-orange;
$success:           #28A745;
$danger:            #DC3545;
$white-color:         $brand-white;
$dark-color:          $brand-black;
$light-dark-color:    $brand-light-black;

// Our Works Colors
$servify:             #1FA5CA;
$bonpreu-foods:       #FF7043;
$tire-outlet:         #FFC107;

// Borders
$base-border:     1px solid $terciary;
$base-radius:     0.25rem;

// Shadows
$base-box-shadow:   rgba(darken($brand-black, 20%), 0.1) 0 0 3.5px;
$navbar-box-shadow: rgba(darken($brand-black, 20%), 0.2) 0 1.5px 2.5px 0px;

// Media queries breakpoints
$screen-xs:       480px;
$screen-sm:       576px;
$screen-md:       768px;
$screen-lg:       992px;
$screen-xl:       1200px;
$screen-xxl:      1600px;